<div id="<%= dom_id message %>" class="p-5 card m-5">
  <p class="text-center">
    <strong>Message:</strong>
    <%= message.content %>
  </p>

  <p class="text-center">
    <strong>To:</strong>
    <%= message.user.username %>
  </p>

</div>
