<div>
	<div class="row flex-lg-row-reverse align-items-center justify-items-center pb-5 maintxt">
		<%= image_tag "marjan.jpg", class: "img-responsive opacity-100", height: "500px" %>
		<div class="text-center overlay px-5">
			<h1 class="mb-3 p-text fw-bold">Read reviews. Write reviews.</h1>
			<h4 class="mb-3 p-text fw-bold">Find companies you can trust.</h4>
			<%= render "shared/search" %>
		</div>
	</div>
</div>