<% @companies.each do |company| %>
    <div class="col-lg-3 col-sm-6 mb-4">            
        <div class="card m-3">
            <%= link_to company, data: { turbo: false } do %>
                <%= image_tag company.image, class: "card-img-top magnitude" %>
            <% end %>
            <div class="portfolio-caption pt-3">
                <div>
                    <div class="average-review-rating" data-score=<%= company.reviews.average(:rating).round(2) %>></div>
                </div>
                <div class="portfolio-caption-subheading text-muted p-2"><%= link_to company.name, company_path(company.id), data: { turbo: false } %></div>
            </div>
        </div>
    </div>
<% end %>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        },
        path: '/assets/'
  })
</script>