<section class="container">
    <div class="text-center">
        <h3 class="section-subheading text-muted p-3">Top Rated Companies in <%= Time.now.strftime("%B") %></h3>
    </div>
    <div class="d-flex">
        <%= render 'toprated'%>
    </div>
</div>